// fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// colors
$color-primary: #171717;
$color-secondary: #DA0037;
$color-tertiary: #444444;
$color-tertiary-light: #d4d4d4;
$color-white: #EDEDED;

// shadows
$shadow-white: 0px 2px 5px rgba($color-white, .8);
$shadow-white-two: 2px 0px 0 rgba($color-white, 1);